@page "/addticket"
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime
@using custos.Models
@using custos.Models.Tickets

<RadzenDialog @rendermode="RenderMode.InteractiveServer"></RadzenDialog>
<RadzenNotification @rendermode="RenderMode.InteractiveServer"></RadzenNotification>

<div class="bg-white ps-4 pt-2" style="height: 50px;">
    <h5 class="fw-bold d-inline header-content">Add Ticket</h5>
    <span><a href="/ticketinformation"><RadzenButton class="float-end primary-btns" Icon="arrow_circle_left" Text="Back to list" /></a></span>
</div>

<RadzenCard>
    <RadzenTemplateForm TItem="TicketDto" Data=@ticketDto  Submit="@UpsertData">
        <div class="card-body mt-3">
            <RadzenRow>
                <RadzenColumn Size="12" SizeMD="6">
                    <div class="form-group mt-2">
                        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H1" class="d-flex form-element-header">Category<span style="color:red">*</span></RadzenText>
                        <RadzenDropDown id="CategoryId" Name="CategoryId" @bind-Value=@ticketDto.CategoryId Change="@(()  =>SubCategoriesData(ticketDto.CategoryId ))" Data=@_categories TextProperty="Name" ValueProperty="Id" AllowClear=true Placeholder="Select Catagory" Style="width: 70%;" class="mss-content" />
                    </div>
                </RadzenColumn>

                <RadzenColumn Size="12" SizeMD="6">
                    <div class="form-group mt-2">
                        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H1" class="d-flex form-element-header">SubCategory<span style="color:red">*</span></RadzenText>
                        <RadzenDropDown id="SubCategoryId" Name="SubCategoryId" @bind-Value=@ticketDto.SubCategoryId Data=@_subCategories Change="@(()  =>AreaData(ticketDto.CategoryId ,ticketDto.SubCategoryId))" TextProperty="Name" ValueProperty="Id" Placeholder="Select SubCatagory" AllowClear=true Style="width: 100%; max-width: 400px;" />
                    </div>
                </RadzenColumn>
                  <RadzenColumn Size="12" SizeMD="6">
                    <div class="form-group mt-2">
                        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H1" class="d-flex form-element-header">Area<span style="color:red">*</span></RadzenText>
                        <RadzenDropDown @bind-Value="@ticketDto.AreaId" Data="@_arealist" TextProperty="Name" ValueProperty="Id" Placeholder="Select Area" AllowClear="true" Style="width: 100%; max-width: 400px;" />
                    </div>
                </RadzenColumn>

                <RadzenColumn Size="12" SizeMD="6">
                    <div class="form-group mt-2">
                        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H1" class="d-flex form-element-header">Device Details<span style="color:red">*</span></RadzenText>
                        <RadzenDropDown @bind-Value="@ticketDto.SystemId" Data="@deviceDetails" TextProperty="DisplayLabel" ValueProperty="DisplayLabel" AllowClear="true" Style="width: 100%; max-width: 400px;" />
                    </div>
                </RadzenColumn>
                <RadzenColumn Size="12" SizeMD="6">
                    <div class="form-group mt-2">
                        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H1" class="d-flex form-element-header">Person Details<span style="color:red">*</span></RadzenText>
                        <RadzenDropDown @bind-Value="@ticketDto.RequestedBYPerson" Data="@personDetails" TextProperty="FirstName" ValueProperty="FirstName" AllowClear="true" Style="width: 100%; max-width: 400px;" />
                    </div>
                </RadzenColumn>

                <RadzenColumn Size="12" SizeMD="6">
                    <div class="form-group mt-2">
                        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H1" class="d-flex form-element-header">Description<span style="color:red">*</span></RadzenText>
                        <RadzenTextBox @bind-Value="@ticketDto.Description" Style="width: 100%; height: 150px;" class="mss-content" />
                    </div>
                </RadzenColumn>
            </RadzenRow>
            <div class="float-end mt-5">
                <RadzenStack Orientation="Orientation.Horizontal">
                    <RadzenButton style="width: 160px" class="primary-btns" Text="Save" ButtonType="ButtonType.Submit" />
                </RadzenStack>
            </div>
        </div>
    </RadzenTemplateForm>
</RadzenCard>
